nav {
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.banner {
    position: relative;
    width: 100%;
    height: 800px; /* Adjust as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 10px;*/
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay for readability */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-title {
    font-size: 3rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.banner-subtitle {
    font-size: 1.5rem;
    margin: 10px 0 20px;
    font-family: 'Courier New', monospace;
}

.footer-text {
    font-family: 'Courier New', monospace;
}
footer .nav {
    flex-wrap: nowrap;
}

section h2 {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

section h2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
}

section h2:hover::after {
    width: 100%;
}

